body{
    background-color: #21262c;
    margin: 0;
    margin-bottom: 2vh;
    padding: 0;
}

.bgimg{
    height: 75vh;
    width: 97%;
    border-radius: 2vh;
    margin: 0 2vh;
    
    padding-top: 10vh;
    padding-left: 50px;
    border: 1px solid #000;
    
}

